[submodule "assignment1"]
	path = assignment1
	url = https://github.com/KenzyFrhat/Week1-2.git
[submodule "assignment2"]
	path = assignment2
	url = https://github.com/KenzyFrhat/Week3.git
[submodule "Task_entry_advancedA1"]
	path = Task_entry_advancedA1
	url = https://github.com/KenzyFrhat/SuperMarketSales---Advanced-Starting.git
[submodule "Assignment3"]
	path = Assignment3
	url = https://github.com/KenzyFrhat/Student_Performance.git
